{{page-title "EmberTiptap"}}

{{outlet}}

<div class="editor-test-view">
  <div>
    <TiptapEditor @onUpdate={{this.update}} @initialContent="<p>Testing!</p><my-card id='test'></my-card>" />
  </div>
  <div>
    <TipTapRenderer @content={{this.contentHtml}} />
  </div>
</div>
