{{page-title "EmberTiptap"}}

{{outlet}}

<div class="editor-test-view">
  <div>
    <TiptapEditor @onUpdate={{this.update}} @initialContent="<p>Testing!</p><MyNodeView></MyNodeView>" />
  </div>
  <div>
    {{{this.contentHtml}}}
  </div>
</div>
