{{page-title "EmberTiptap"}}

{{outlet}}

<div class="editor-test-view">
  <div>
    <TiptapEditor
      @onUpdate={{this.update}}
      @initialContent="<p>Testing!</p><ember-component data-component='my-card' id='test'></ember-component>"
    />
  </div>
  <div>
    <TipTapRenderer @content={{this.contentHtml}} />
  </div>
</div>
